.tipografia {
    color: #FFFF;
    font-size: 15px !important;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.containerCart {
    width: 38% !important;
    display: flex !important;
    justify-content: flex-end !important;
}

.cards{
    
    display :inline-flex;
    height: 23rem;
    width: 20rem;
    
    margin-top: 3rem;
}

.iconCart {
    color: white !important;
}

.imgdetail{
    height: 12rem;
    
}

.titledetail{
    font-size: 1.2rem;
    
}

.botondetail{
    display: flex;
    margin-left: 25rem;
}

.agregar{
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}

.imgcart{
    height: 7rem;
}

.botonfinalizar{
    margin: 2rem 0 2rem 0 !important;
    width: 50% !important;
}

.iconSucces {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

